:root {
  --dark: #23283d;
  --gray: #4e546b;
  --light: #a8b0d3;
  --lightest: #e9ecf8;
  --salmon: #ff4567;
}

.dark {
  color: var(--dark);
}
.salmon {
  color: var(--salmon);
}
.light {
  color: var(--light);
}
.bg-dark {
  background: var(--dark);
}
.bg-salmon {
  background: var(--salmon);
}
.bg-light {
  background: var(--light);
}

button {
  padding: 12px 36px;
  background: var(--dark);
  color: var(--lightest);
}
